* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.font {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
  font-size: 16px;
  line-height: 24px;
}
.green{
    color:#016630;
    background-color: #DBFCE7;
}
.padding{
    padding: 5px 15px;
    border-radius: 25px;
}
.orange{
    color:#9F2D00;
    background-color: #FFEDD4;  
}
.blue{
    color:#193CB8;
    background-color:#DBEAFE;
}
.violet{
    color:#6E11B0;
    background-color:#F3E8FF;
}
.red{
    color:#9F0712;
    background-color:#FFE2E2
}
.baby-blue{
    color:#005F78;
    background-color:#CEFAFE;
}
.v-b{
    color: #372AAC;
    background-color: #E0E7FF;
}
.yellow{
    color:#894B00;
    background-color:#FEF9C2;
}
.border{
    border: 1px solid #E4E4E7;
    border-radius: 15px;
}
.container-1 {
  width: 85%;
  margin: 0 auto;
}
.container-2 {
  width: 95%;
  margin: 0 auto;
}
.container-body {
  display: flex;
}
/* Side-bar */
.side-bar {
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.side-bar .logo-title {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.logo {
  width: 55px;
  height: 55px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(135deg, #2754f4, #3e39e0, #3547ea);
}
.logo i {
  color: #ffff;
  font-size: 20px;
}
.title {
  width: 40%;
}
.title h1,
p {
  margin: 0;
}
.title h1 {
  font-size: 34px;
}

.title p {
  font-size: 12px;
  color: oklch(0.446 0.03 256.802);
  font-weight: 600;
  margin: 0;
}
.sec1-side-bar,
.sec2-side-bar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}
.sec2-side-bar h3 {
  font-weight: 600;
  color: oklch(0.373 0.034 259.733);
  font-size: 14px;
  line-height: 20px;
}
.label {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
 
}

.gray-icon {
  color: #6a7282;
}
a {
  text-decoration: none;
}
.sec2-side-bar .icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.sec2-side-bar .icon1 {
  background-color: #eaf3ff;
  color: #155dfc;
}
.sec2-side-bar .icon2 {
  background-color: #d4f3e1;
  color: #00a63e;
}
.sec2-side-bar .icon3 {
  background-color: #efe0fc;
  color: #9810fa;
}
.sec2-side-bar .icon4 {
  background-color: #fbe4d4;
  color: #f54a00;
}
.main {
  width: 83%;
  margin-right: 17%;
  background-color: #f9fafb;
}
.main .container-2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 0.2fr 0.3fr 1fr 0.9fr 0.7fr 1fr;
  gap: 30px 20px;
  grid-template-areas:
"header header header"
    "Expenses income Current-balance"
    "Recent-activities Recent-transactions Recent-transactions "
    "Recent-activities Recent-transactions Recent-transactions "
    "Monthly-bills Recent-transactions Recent-transactions "
    "Monthly-bills Recent-transactions Recent-transactions "
    "Monthly-bills Recent-transactions Recent-transactions "
    "Budget-overview Income-vs-expenses  Payment-methods"
    "Budget-overview Income-vs-expenses  Payment-methods"
    "Budget-overview Account-summary  Payment-methods"
    "Budget-overview Account-summary  Payment-methods"
    "Budget-overview . .";

}
.header {
  grid-area: header;
  background-image: linear-gradient(180deg, #f5f9fd, #fefeff, #f6f8fc);
  border-radius: 15px;
  border: 2px solid #ecedee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 7px 5px;
  box-shadow: 2px #f9fafb;
}
.header .logo-title {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 10px;
  width: 30%;
}
.header .logo-title .title {
  margin-bottom: 20px;
  width: 33%;
}
.account-title {
  width: 25%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.header .account-title .account-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .account-title .account-icons .icon-header {
  border: 1px solid #e2e3e4;
  border-radius: 10px;
  padding: 7px 10px;
}
.header .account-title .account-icons i {
  font-size: 16px;
  color: oklch(0.446 0.03 256.802);
}
.account-info {
  width: 50%;
  display: flex;
  gap: 15px;
  border: 1px solid #dfe0e4;
  background-color: #ffffff;
  padding: 10px 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.account-info .image {
  width: 30%;
  border: 1px solid #000000;
  object-fit: cover;
  border-radius: 10px;
}
.account-info .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.logo-title .online ul {
  background-color: #f0fdf4;
  color: #008236;
  font-weight: 600;
  border: 2px solid #ddfbe7;
  width: 100%;
  padding: 5px 5px;
  border-radius: 10px;
}
.account-info .content h3 {
  margin: 0;
  font-weight: 600;
  color: oklch(0.21 0.034 264.665);
  font-size: 14px;
  line-height: 20px;
}
.account-info .content p {
  margin: 0;
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
  font-size: 12px;
  line-height: 16px;
}
.containers-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #edeef0;
  border-radius: 15px;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px 15px;
}
.containers-3 .t1,
.t2,
.t3 {
  margin-right: 30px;
}
.containers-3 .t1 p {
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
  font-size: 14px;
  line-height: 20px;
}
.containers-3 .t2 p {
  font-style: normal;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
  font-size: 36px;
  line-height: 40px;
}
.containers-3 .t3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.containers-3 .t3 {
  font-size: 12px;
  display: flex;
  gap: 0;
  align-items: center;
}
.containers-3 .t3 .icon-1 {
  font-size: 12px;
}
.containers-3 .t3 .icon-2 {
  font-size: 8px;
}
.Current-balance {
  grid-area: Current-balance;
  color: #e7000b;
}
.Income {
  grid-area: income;
  color: #2ab55d;
}
.Expenses {
  grid-area: Expenses;
  color: #2ab55d;
}
.Recent-transactions {
  grid-area: Recent-transactions;
  border: 2px solid #edeef0;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px 15px;
}
.Recent-transactions .card {
  display: flex;
  justify-content: space-between;
}
.Recent-transactions .card h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #101828;
}
.Recent-transactions .card span {
  font-weight: 500;
  color: oklch(0.21 0.034 264.665);
  font-size: 14px;
  line-height: 20px;
}
.Recent-transactions .table-transactions .mudabbir-table {
  width: 100%;
  text-align: right center;
  table-layout:fixed;
  margin-top: 15px;
  border-spacing: 20px 30px;
  border-collapse: separate;
 
}
.Recent-transactions .table-transactions .mudabbir-table thead th {
  font-size: 16px;
  color: #364153;
  margin-top: 30px;
}

.Recent-transactions .table-transactions .mudabbir-table td{
    /* padding: 0px 10px; */
    text-align: center;
    width: 100%;
}
.Recent-transactions .table-transactions .mudabbir-table td span , .Recent-transactions .table-transactions .mudabbir-table td i{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

.Recent-transactions .table-transactions .mudabbir-table .table-category{
    width: 80%;
    border-radius: 25px;
    text-align: center;
}
.Recent-transactions .table-transactions .mudabbir-table td p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.Recent-transactions .table-transactions .table-title {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Recent-transactions .table-transactions .table-title .img-table {
  width: 35%;
}
.Recent-transactions .table-transactions .table-title .icon-table {
  width: 35%;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}
.Recent-transactions .table-transactions .table-title .img-table img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.Recent-transactions .table-transactions .table-title .icon-table i{
     border-radius: 50%;
     font-size: 1.1rem;

}
.Recent-transactions .table-transactions .title-table{
    width: 65%;
}
.Recent-transactions .table-transactions .table-title .title-table h4{
    font-size: 10px;
    line-height: 10px; 
}
.Recent-transactions .table-transactions .table-title .title-table p{
    font-size: 10px;
    line-height: 16px;
}
.Recent-activitie {
  grid-area: Recent-activitie;
}
.Monthly-bills {
  grid-area: Monthly-bills;
}
.Budget-overview {
  grid-area: Budget-overview;
}
.Income-vs-expenses {
  grid-area: Income-vs-expenses;
}
.Payment-methods {
  grid-area: Payment-methods;
}
.Account-summary {
  grid-area: Account-summary;
}
