
html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.font {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: oklch(0.446 0.03 256.802);
  font-size: 16px;
  line-height: 24px;
}
.card-style {
  background-color: rgb(255, 255, 255);
  border: 2px solid #edeef0;
  border-radius: var(--border-red);
  padding: 20px 0;
}
.icon-sidebar {
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.icon {
  width: 2.8125rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
 
  margin: 0 auto;
}
.small-font {
  color: oklch(0.446 0.03 256.802);
  font-size: 14px;
  font-weight: 600;
}

.top-title {
  display: flex;
  justify-content: space-between;
}
.green {
  color: #016630;
  background-color: #dbfce7;
}
.padding {
  padding: 5px 15px;
  border-radius: 25px;
}
.orange {
  color: #9f2d00;
  background-color: #ffedd4;
}
.blue {
  color: #193cb8;
  background-color: #dbeafe;
}
.violet {
  color: #6e11b0;
  background-color: #f3e8ff;
}
.red {
  color: #9f0712;
  background-color: #ffe2e2;
}
.baby-blue {
  color: #005f78;
  background-color: #cefafe;
}
.v-b {
  color: #372aac;
  background-color: #e0e7ff;
}
.pink {
  background-color: #fce7f3;
  color: #f6339a;
}

.yellow {
  color: #894b00;
  background-color: #fef9c2;
}
.border {
  border: 1px solid #e4e4e7;
  border-radius: 15px;
}

.container-1 {
  width: 85%;
  margin: 0 auto;
}
.container-2 {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2.5fr 0.2fr 0.5fr 0.7fr;
  gap: 20px 10px;
  grid-template-areas:
    "header header header"
    "Expenses income Current-balance"
    "Recent-activities Recent-transactions Recent-transactions "
    "Recent-activities Recent-transactions Recent-transactions "
    "Monthly-bills Recent-transactions Recent-transactions "
    "Budget-overview Income-vs-expenses  Payment-methods"
    "Budget-overview Account-summary  Payment-methods"
}

.container-body {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
/* Side-bar */
.side-bar {
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.side-bar .logo-title {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.logo {
  width: 55px;
  height: 55px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(135deg, #2754f4, #3e39e0, #3547ea);
}
.logo i {
  color: #ffff;
  font-size: 20px;
}
.title {
  width: 40%;
}
.title h1,
p {
  margin: 0;
}
.title h1 {
  font-size: 34px;
}

.title p {
  font-size: 12px;
  color: oklch(0.446 0.03 256.802);
  font-weight: 600;
  margin: 0;
}
.sec1-side-bar,
.sec2-side-bar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}
.sec2-side-bar h3 {
  font-weight: 600;
  color: oklch(0.373 0.034 259.733);
  font-size: 14px;
  line-height: 20px;
}
.label {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.gray-icon {
  color: #6a7282;
}
a {
  text-decoration: none;
}

.sec2-side-bar .icon1 {
  background-color: #eaf3ff;
  color: #155dfc;
}
.sec2-side-bar .icon2 {
  background-color: #d4f3e1;
  color: #00a63e;
}
.sec2-side-bar .icon3 {
  background-color: #efe0fc;
  color: #9810fa;
}
.sec2-side-bar .icon4 {
  background-color: #fbe4d4;
  color: #f54a00;
}
.main {
  width: 83%;
  margin-right: 17%;
  background-color: #f9fafb;
}

.header {
  grid-area: header;
  background-image: linear-gradient(180deg, #f5f9fd, #fefeff, #f6f8fc);
  border-radius: 15px;
  border: 2px solid #ecedee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 7px 5px;
  box-shadow: 2px #f9fafb;
}
.header .logo-title {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 10px;
  width: 30%;
}
.header .logo-title .title {
  margin-bottom: 20px;
  width: 33%;
}
.account-title {
  width: 25%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.header .account-title .account-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .account-title .account-icons .icon-header {
  border: 1px solid #e2e3e4;
  border-radius: 10px;
  padding: 7px 10px;
}
.header .account-title .account-icons i {
  font-size: 16px;
  color: oklch(0.446 0.03 256.802);
}
.account-info {
  width: 50%;
  display: flex;
  gap: 15px;
  border: 1px solid #dfe0e4;
  background-color: #ffffff;
  padding: 10px 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.account-info .image {
  width: 30%;
  border: 1px solid #000000;
  object-fit: cover;
  border-radius: 10px;
}
.account-info .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.logo-title .online ul {
  background-color: #f0fdf4;
  color: #008236;
  font-weight: 600;
  border: 2px solid #ddfbe7;
  width: 100%;
  padding: 5px 5px;
  border-radius: 10px;
}
.account-info .content h3 {
  margin: 0;
  font-weight: 600;
  color: oklch(0.21 0.034 264.665);
  font-size: 14px;
  line-height: 20px;
}
.account-info .content p {
  margin: 0;
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
  font-size: 12px;
  line-height: 16px;
}
.containers-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #edeef0;
  border-radius: 15px;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px 15px;
}
.containers-3 .t1,
.t2,
.t3 {
  margin-right: 30px;
}
.containers-3 .t1 p {
  font-weight: 600;
  color: oklch(0.551 0.027 264.364);
  font-size: 14px;
  line-height: 20px;
}
.containers-3 .t2 p {
  font-style: normal;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
  font-size: 36px;
  line-height: 40px;
}
.containers-3 .t3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.containers-3 .t3 {
  font-size: 12px;
  display: flex;
  gap: 0;
  align-items: center;
}
.containers-3 .t3 .icon-1 {
  font-size: 12px;
}
.containers-3 .t3 .icon-2 {
  font-size: 8px;
}
.Current-balance {
  grid-area: Current-balance;
  color: #e7000b;
}
.Income {
  grid-area: income;
  color: #2ab55d;
}
.Expenses {
  grid-area: Expenses;
  color: #2ab55d;
}
.Recent-transactions {
  grid-area: Recent-transactions;
  border: 2px solid #edeef0;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px 15px;
}
.Recent-transactions .card {
  display: flex;
  justify-content: space-between;
}
.Recent-transactions .card h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #101828;
}
.Recent-transactions .card span {
  font-weight: 500;
  color: oklch(0.21 0.034 264.665);
  font-size: 14px;
  line-height: 20px;
}
.Recent-transactions .table-transactions .mudabbir-table {
  width: 100%;
  text-align: right center;
  table-layout: fixed;
  margin-top: 15px;
  border-spacing: 20px 30px;
  border-collapse: separate;
}
.Recent-transactions .table-transactions .mudabbir-table thead th {
  font-size: 16px;
  color: #364153;
  margin-top: 30px;
}

.Recent-transactions .table-transactions .mudabbir-table td {
  /* padding: 0px 10px; */
  text-align: center;
  width: 100%;
}
.Recent-transactions .table-transactions .mudabbir-table td span,
.Recent-transactions .table-transactions .mudabbir-table td i {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.Recent-transactions .table-transactions .mudabbir-table .table-category {
  width: 80%;
  border-radius: 25px;
  text-align: center;
}
.Recent-transactions .table-transactions .mudabbir-table td p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.Recent-transactions .table-transactions .table-title {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Recent-transactions .table-transactions .table-title .img-table {
  width: 35%;
}
.Recent-transactions .table-transactions .table-title .icon-table {
  width: 35%;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}
.Recent-transactions .table-transactions .table-title .img-table img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.Recent-transactions .table-transactions .table-title .icon-table i {
  border-radius: 50%;
  font-size: 1.1rem;
}
.Recent-transactions .table-transactions .title-table {
  width: 65%;
}
.Recent-transactions .table-transactions .table-title .title-table h4 {
  font-size: 10px;
  line-height: 10px;
}
.Recent-transactions .table-transactions .table-title .title-table p {
  font-size: 10px;
  line-height: 16px;
}
.Recent-activitie {
  grid-area: Recent-activitie;
}
.Recent-activities {
  grid-area: Recent-activities;
  background-color: rgb(255, 255, 255);
  border: var(--border-card);

  padding: 20px 0;
    border-radius: 15px;
}
.Recent-activities .container {
  width: 90%;
  margin: 0 auto;
  border-bottom: rgb(226, 226, 226) 1px solid;

}
.Recent-activities .item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #eff6ff;
  padding: 0.9375rem 0.625rem;
  border-radius: 15px;
  border-left: #155dfc 5px solid;
}
.Recent-activities .item-right{
    display: flex;
    gap: 10px;
}

.Recent-activities .item-i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
background-color: #DBEAFE;

 
}
.Recent-activities .item-info {
  font-size: 14px;
}
.Recent-activities .item-info p {
  font-size: 12px;
  color: #6A7282;
  line-height: 2;
}
.Recent-activities .item-type {
  color: #155DFC;
}
.Recent-activities .c-card {
  background-color:#f0fdf6;
  border-left: #139c40 0.3125rem solid;
  margin-bottom: 1.25rem;
}
.Recent-activities .c-card .item-i {
  background-color: #DBFCE7;
  color: #00A63E;
  
}
.Recent-activities .c-card .item-type {
  color: #139c40;
}
.Recent-activities .show-more {
  color:#155DFC;
  text-align: center;
  margin-top: 0.9375rem;
  cursor: pointer;
}
/* Monthly-bills */
.Monthly-bills {
  grid-area: Monthly-bills;
  border-radius: 15px;
}
.Monthly-bills .container {
  width: 85%;
  margin: 0 auto;
}
.Monthly-bills .title {
  text-align: center;
  margin: 1.25rem 0;
}
.Monthly-bills .two-b {
  display: flex;
  justify-content: space-between;
}
.Monthly-bills .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem;
}
.Monthly-bills .box {
  width: 45%;
  background-color: #f9fafb;
  text-align: center;
  padding: 1.25rem;
  border-radius: 15px;
}
.Monthly-bills .box .small-p {
  font-size: 12px;
  color:#6A7282;
}
.Monthly-bills .box .main-p {
  font-weight: 800;
}
.Monthly-bills .box .colored-p {
  font-size: 0.8125rem;
  color: #e80518;
}
/* Budget-overview */
.Budget-overview {
  grid-area: Budget-overview;
  border-radius: 15px;
}
.Budget-overview .box {
  border-radius: 15px;

  margin-top: 20px;
  border: rgb(177, 201, 233) solid 1px;
}
.Budget-overview .container {
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;;
}
.Budget-overview .remain {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* margin-bottom: 0.9375rem; */
}
.Budget-overview .box-info h3 {
  font-size: 20px;
}
.Budget-overview .bb .remain:nth-child(2) {
  color: #139c40;
  font-weight: 800;
}
.Budget-overview .b-2 {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(228, 223, 223, 0.856);
  border-radius: 0.625rem;
  position: relative;
}
.Budget-overview .b-2::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #FF6900;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.625rem;
}
.Budget-overview .b-3 {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(228, 223, 223, 0.856);
  border-radius: 0.625rem;
  margin: 0.4375rem 0;
  position: relative;
}
.Budget-overview .b-3::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color:#FB2C36;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.625rem;
}
.Budget-overview .b-4 {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(228, 223, 223, 0.856);
  border-radius: 0.625rem;
  margin: 0.4375rem 0;
  position: relative;
}
.Budget-overview .b-4::after {
  content: "";
  width: 80%;
  height: 100%;
  background-color: #F6339A;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.625rem;
}
.Budget-overview .b-5 {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(228, 223, 223, 0.856);
  border-radius: 0.625rem;
  margin: 0.4375rem 0;
  position: relative;
}
.Budget-overview .b-5::after {
  content: "";
  width: 86%;
  height: 100%;
  background-color: #00C951;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.625rem;

}
.Budget-overview .percentage {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(228, 223, 223, 0.856);
  border-radius: 0.625rem;
  margin: 0.4375rem 0;
  position: relative;
}
.Budget-overview .percentage::after {
  content: "";
  width: 82.5%;
  height: 100%;
  background-color: #155DFC;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.625rem;

}
.Budget-overview .percentage-info {
  display: flex;
  justify-content: space-between;
}
.Budget-overview .r-box-info {
  display: flex;
  justify-content: start;
  width: 60%;
}
.Budget-overview .r-box-info .box-desc {
  margin-right: 0.9375rem;
}
.Budget-overview .r-box-info .box-desc p {
  font-size: 10px;
}
.Budget-overview .r-p {
  padding: 0.1875rem 0.3125rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
}
/* Income-vs-expenses */
.Income-vs-expenses {
  grid-area: Income-vs-expenses;
    border-radius: 15px;
}
.Income-vs-expenses .color-desc {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 10%;
}
.Income-vs-expenses .green-box {
  background-color: #40C79A;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.3125rem;
}
.Income-vs-expenses .orange-box {
  background-color:#EF4444;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.3125rem;

}
.Income-vs-expenses .diagrams {
  display: flex;
  gap: 1.25rem;
  margin-top: 10%;
}
.Income-vs-expenses .diagram {
  width: 23%;
}
.Income-vs-expenses .dia-shape {
  width: 100%;
  height: 190px;
  display: flex;
  margin-top: 3.125rem;
  transform: rotateX(180deg);

}
.Income-vs-expenses .orange-line {
  width: 30%;
  height: 40%;
  background-color: #EF4444;
  border-radius: 5px;

}
.Income-vs-expenses .green-line {
  width: 30%;
  height: 100%;
  background-color: #40C79A;
  border-radius: 5px;
  margin-left: 5%;
}

/* Payment-methods */
.Payment-methods {
  grid-area: Payment-methods;
    border-radius: 15px;
}
/* Account-summary */


.Account-summary {
  grid-area: Account-summary;
  background-color: rgb(255, 255, 255);
  border: 2px solid #edeef0;
  border-radius: 15px;

}
.Account-summary .acoount-cards{
     display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;

}
.Account-summary .top-title {
  display: flex;
  justify-content: space-between;
 
}
.Account-summary .c {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
  padding: 10px 20px;
  border-radius: 15px;
}
.Account-summary  .card-right {
  display: flex;
  gap: 10px;
  justify-content: center;
 align-items: center;
}
